<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      <!-- Search form -->

  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active d-flex flex-column text-center" aria-current="page"  [routerLink]="['employee']" routerLinkActive="link-danger fw-bold"><i class="fas fa-home fa-lg"></i><span class="small">Employee Management</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" ><i class="fas fa-user-friends fa-lg"></i><span class="small">Salary Management</span></a>
          </li>
          
          <li class="nav-item dropdown ps-5">
           <img 
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
            class="rounded-circle"
            height="30"
            alt=""
            loading="lazy"
          /> <div class="btn btn-outline-danger mx-4">Logout</div>
          
          <h5>Mahesh Gunawardana</h5> 

        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->